#formularz{
	width: 400px;
	height: 400px;
	background-color: blue;
	text-align: center;
	display: inline-block; 
}

#rama {
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	text-align: center;
	
} 

h3 {
	font-size: 20px;
}

h1{
	font-size: 30px;
	color: white;
}

span{
	color: gold;
} 

input {
	width: 90%;
	height: 30px;
	margin-top: 10px; 
}

button {
	height: 40px;
	width: 100px;
	background-color: gold;
	margin-top: 10px;
}
