@import 'headerLogo';

header {
	width: 100%;
	height: 20vh;
	text-align: center;

#logo {
	@include headerLogo;
	
}  

#telefon {
	@include headerLogo;
	font-size: 30px;
	text-align: center;
	
	span{
		font-size: 40px;
		}
	
	.phoneDiv{
		display: inline-block;
		float: left;
		width: 80px;
		height: 80px;
		i{	
			display: inline-block;
			font-size: 80px;
		}
	}
}

} 